<div class="jumbotron jumbotron-br">
  <div class="container">
    <h1>
      We Buy Your Antiques!
    </h1>
    <h3>
      Please fill out the from on the following page and we will get back to you within 48 Hours! We appricatiate Your Busness.
    </h3>
    <br>
    <h2>
      <%= link_to 'Continue', new_buy_antique_path, class: "btn btn-default btn-defualt-special" %>
    </h2>
  </div>
</div>