
<div class="jumbotron jumbotron-br">
  <div class="container">
    <h1>
      Thank You!
    </h1>
    <h3>
      You will recive an email or call within the next 48 hours! We thank you for your buissness
    </h3>
  </div>
</div>
