// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// DANIEL CODE: ( In Other Words Corbin Will Fix Later! :) )

    .breadcrumb { margin-bottom: 0; }

// End Daniel Code


/*
** 
** Hey Bro can you make a button like the one on the single item page for the link to ebay, for each different color?
** 
** 
*/


$border-card-all: 2.3px;

// Shadow states
$shadow-state-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$shadow-state-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
$shadow-state-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
$shadow-state-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);

body { background-color: #EEE; }

.navbar__dark { 
    background-color: #939C78 !important; 
    border-radius: 0; 
    
    a { 
        color: white; 
        font-size: 13pt; 
    }
}

.jumbotron { 
    background-color: #fff; 
    color: silver;
    box-shadow: $shadow-state-2dp;
}

.jumbotron_title { 
    margin-top: -50px; 
    color: grey;
}

.jumbotron h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.jumbotron-br { 
    border-radius: 3.5px;
    box-shadow: $shadow-state-3dp; 
}

.jumbotron-br h1 { 
    font-size: 3em;
}

.jumbotron_title_m { 
    padding: 20px; 
}

.well { 
    background-color: white; 
    color: silver; 
}

.right-border { 
    border-right: 2px solid silver; 
    border-left: 2px solid silver; 
}

.nav > li > a {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.nav > li > a:hover {
    text-decoration: none;
    background: #787F61;
}

.nav > li > a:focus {
    background: transparent;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #787F61;
}



//
//    Footer System
//
.footer__box-bottom {
    width: 100%;
    left: 0;
    padding: 20px;
    padding-left: 10%;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 35px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}





//
//    Item Box System
//
.item-description {
    color: #000;
}


.jumbotron-br .btn {
    border-radius: 2.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.jumbotron-br .btn-default{
    color: #4C4C4C;
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    transition: box-shadow .25s ease-in-out, background .25s ease-in-out;
    -webkit-transition: box-shadow .25s ease-in-out, background .25s ease-in-out;
}

.jumbotron-br .btn-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: transparent;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                0 5px 5px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                0 5px 5px -3px rgba(0, 0, 0, 0.4);                
}

.jumbotron-br .btn-default:active {
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);  
    background: #C7C7C7;
}

.search__context {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.4);
    transition: box-shadow .25s ease-in-out, background .25s ease-in-out;
    -webkit-transition: box-shadow .25s ease-in-out, background .25s ease-in-out;
    background-color: #fff;
    width: 120px;
    height: 40px;
    -webkit-font-smoothing: antialiased;
    font-size: 11pt;
}

.search__context:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: transparent;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                0 5px 5px -3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0 3px 14px 2px rgba(0, 0, 0, 0.12), 
                0 5px 5px -3px rgba(0, 0, 0, 0.4);               
}

.search__context:active {
    outline: none;
    border-color: transparent;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);  
    background: #C7C7C7;
}